.container {
  position: relative;
  background-image: url(/src/assets/579fe1183178475.653aa8931b193.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

*{
  scrollbar-width: 10px;
  scrollbar-color: black;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border: 2px solid black;
  border-radius: 10px;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 30px);
}

h1{
  font-size: 24px;
  margin: 0;
}

h2{
  font-size: 20px;
}

small {
  font-size: 11px;
  font-weight: 700;
  background-color: #ffffff40;
  box-shadow: 0 0 10px #ffffff40;
  padding: 7px 14px;
  border-radius: 7px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}

.container-principal{
  min-height: calc(-57px + 100vh);
  height: 100%;
}

#root{
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0 14px;
  min-height: 100vh;
}

.code-container {
  position: relative;
  background-color: #1e1e1ee3;
  padding: 20px;
  border-radius: 5px;
  color: #ffffff;
  margin: 20px 0;
  font-family: 'Courier New', Courier, monospace;
}

.code-container + p {
  border-bottom: 2px solid #fff;
  padding-bottom: 17px;
}

.code-container + p:last-child{
  border-bottom: none;
}

.code-container pre{
  text-wrap: wrap;
  word-break: break-all;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.code-container pre::-webkit-scrollbar-track{
  background-color: transparent;
  width: 7px;
}

.code-container pre::-webkit-scrollbar-thumb{
  border: none;
}

.code-container pre::-webkit-scrollbar {
  width: 5px;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.copy-button:hover {
  background-color: #45a049;
}
pre {
  margin: 0;
}

small{
  font-weight: 700;
}

.image-banner, .image-banner img{
  width: 100%;
}

.image-banner{
  max-height: 500px;
  height: 100%;
  overflow: hidden;
}

.image-banner{
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.top-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  margin-top: 25px;
  position: sticky;
  top: 7px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 14px;
}

@media (max-width: 768px) {
  .top-container{
    flex-direction: column;
    align-items: self-start;  
  }
}

.top-container select{
  padding: 7px;
  border-radius: 7px;
}

.top-container select {
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border: transparent;
}

.top-container option{
  background-color: #ffffff;
  color: #111;
}

section{
  border-bottom: 1px dashed white;
  padding: 14px;
}

section:last-child{
  border: none;
}

footer{
  background-color: #000000b0;
  padding: 7px 14px;
  margin-left: -14px;  
  width: 100%;
  text-align: center;
}

footer p{
  margin: 0;
}

footer p a{
  color: inherit;
}

.absolute-view{
  position: absolute;
  bottom: 7px;
  right: 15px;
  cursor: pointer;
}